@page
@model CandyShop.Pages.AllProductsModel
@section SearchBar {
    <partial name="_searchBar" for="SearchTerm" />
}
<div class="container">

    <br>
    <div class="row">

        @foreach (var product in Model.ProductView)
        {
        <div class="d-flex flex-column col-6 col-lg-3 mb-5 ">
            <a asp-route-id="@product.Id" asp-page="/ProductDetails">
                @if (product.ImageUrl != null)
                {
                    <img class="product-thumbnail" src="~/images/@product.ImageUrl" />
                }
                else
                {
                    <img class="product-thumbnail" src="https://auctionresource.azureedge.net/blob/images/auction-images/2021-01-14/312364fa-628a-4525-becf-9124adc1e7ef.jpg?preset=740x555" />
                }

            </a>
            <div class="product-body">
                <p class="all-products-title"> @product.Name</p>
                <p>@product.Price kr <br />I lager @product.Stock</p>

            </div>
            @if (product.Stock == 0)
            {
                <div class="out-of-stock-button" style="display: flex; flex-grow: 1; align-items:end;">
                    <input class="btn btn-dark" placeholder="Out of stock" disabled>
                </div>
            }
            else
            {
                <div class="add-to-cart-button" style="display: flex; flex-grow: 1; align-items:end;">
                    <a class="btn btn-secondary" asp-route-id="@product.Id" asp-page="/Cart">Add to cart</a>
                </div>
            }
        </div>
        }


    </div>

