@page
@model CandyShop.Pages.CartModel
@{
}
<body>
    <div class="container py-5 mb5">
        
        <h1 class="mb-5">Information and shipping</h1>

        <div class="row py-4">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    @*//Hur många varor som är i korgen*@
                    <span class="badge badge-primary badge-pill"></span>
                </h4>
                <ul class="list-group mb-3">
                    @foreach (var product in Model.CartView)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">@product.Name</h6>
                            </div>
                            @*//Pris*@
                            <span class="text-muted">@product.Price kr</span>
                        </li>
                    }
                    <li class="list-group-item d-flex justify-content-between">
                        @*//Totala summan*@
                        <span>Total (SEK)</span>
                        <strong></strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Name</label>
                            <input type="text" asp-for="@Model.Name" class="form-control" id="firstName" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email </label>
                        <input type="email" asp-for="@Model.Email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="number">Phone Number</label>
                        <input type="email" asp-for="@Model.Number" class="form-control" id="email" placeholder="">
                        <div class="invalid-feedback">
                            Please enter a valid phone number.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" asp-for="@Model.Adress " class="form-control" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="city">City</label>
                        <input type="text" asp-for="@Model.City" class="form-control" id="city" placeholder="" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <h4 class="mb-3">Shipping</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input asp-for="@Model.ShippingOption" name="ShippingOption" id="opt1" value="PostNord" type="radio"
                                   class="custom-control-input" checked required>
                            <label class="custom-control-label" for="opt1">PostNord (39 SEK)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input asp-for="@Model.ShippingOption" name="ShippingOption" id="opt2" value="DHL" type="radio"
                                   class="custom-control-input" checked required>
                            <label class="custom-control-label" for="opt2">DHL (99 SEK)</label>
                        </div>
                    </div>

                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


@*<div class="container">
        <h1 class="text-center">Information and Shipping</h1>
        <div class="cart-title">
            <h5>1. I din shoppingbag</h5>

        </div>
        @foreach (var product in Model.CartView)
        {
            <div class="col-3">
                <img class="product-thumbnail" src="~/images/@product.ImageUrl" />
                <div class="product-body">
                    <p class="all-products-title"> @product.Name</p>
                    <p>Artikelnummer: @product.Id</p>

                </div>
            </div>
        }

        <h3>Enter your information below: </h3>
        <form method="post">
            <label>Name:</label><br />
            <input type="text" asp-for="@Model.Name" /><br />



            <label>E-mail:</label><br />
            <input type="text" asp-for="@Model.Email" /><br />



            <label>Phone:</label><br />
            <input type="number" asp-for="@Model.Number" /><br />



            <label>Adress:</label><br />
            <input type="text" asp-for="@Model.Adress" /><br />



            <label>City:</label><br />
            <input type="text" asp-for="@Model.City" /><br />



            <label>Postal code:</label><br />
            <input type="text" asp-for="@Model.PostalCode" /><br />



            <br /><h3>Choose your shipping option: </h3>
            <input type="radio" asp-for="@Model.ShippingOption" name="ShippingOption" id="opt1" value="PostNord" /><label for="opt1">PostNord (39 SEK)</label><br />
            <input type="radio" asp-for="@Model.ShippingOption" name="ShippingOption" id="opt2" value="DHL" /><label for="opt2">DHL (99 SEK)</label><br />



            <br /><h3>Choose your payment method: </h3>
            <input type="radio" asp-for="@Model.PaymentOption" name="PaymentOption" id="opt1" value="Debit Card" /><label for="opt1">Card Payment (0 SEK)</label><br />
            <input type="radio" asp-for="@Model.PaymentOption" name="PaymentOption" id="opt3" value="PayPal" /><label for="opt1">PayPal (0 SEK)</label><br />
            <input type="radio" asp-for="@Model.PaymentOption" name="PaymentOption" id="opt2" value="Klarna (29 SEK)" /><label for="opt1">Klarna (29 SEK)</label><br />




            <br /><input type="submit" value="Confirm Order" />
        </form>
    </div>*@

@*<h5 class="shipping-title">2. Välj fraktmetod</h5>
        <div class="">

            <form method="post">
                @foreach (var shippingMethod in Model.ShippingView)
                {
                    <div>
                        <input asp-for="@shippingMethod.ShippingPrice" name="Shipping" class="" id="@shippingMethod.ShippingId" type="radio" value="@shippingMethod.ShippingId">
                        <label for="@shippingMethod.ShippingId">@shippingMethod.ShippingName @shippingMethod.ShippingPrice kr</label>

                    </div>
                }
                <button class="btn btn-secondary" type="submit">Klar</button>
            </form>
        </div>
        <br />
        <div class="row">
            <a class="btn btn-dark" asp-page="/OrderConfirmation">Betala med Swish</a>
            <a class="btn btn-dark" asp-page="/OrderConfirmation">Betala med Klarna</a>
        </div>

    </div>*@
